body{
	margin: 100px;
}
nav {
	clear: both;
	text-align:left;
	display: inline;
	margin: 100px;
}

nav ul li {
	font-family: calibri;
	padding: 1px;
	margin: 30px;
	display: inline;
	font-size: 25px;
	position: abs;
	display: inline-table;
}
nav ul{
	border: 5px #E8E8E8;
	background-color:#E8E8E8;
	margin-left: 30px;
	margin: 1px;
	padding: 1px;
	position: relativ;
	display: block;
}
aside {
	border: 1px solid #E8E8E8;
	background-color: #E8E8E8;
	font-family: calibri;
	padding: 40px;
	float: right;
	display: inline;
	list-style-image: url("hundepote.png");
	font-size: 20px;
	margin-top: -200px;
	margin-right: 20px;
}
nav ul li:hover ul li {
	background-color: black;
	color: white;
	display: block;
	border: 10px soild black;
	padding: 10px;	
	float: none;
	width: 110px;
}
nav ul li ul li {
	position: absolute;
	display: none;	
	padding: 0 auto;
	margin: 0 auto;
}


#forside{
	
	margin-left: 20%; 
 }
 #logo{
	 
	 margin-bottom: -300px;
 }
 #frakt{
	 margin-left: 15%
	 
 }
 h1{
	 
	 font-family: calibri;
 }
 p{
	 font-family: calibri;
 }
 footer{
	font-family: calibri;
	background-color: #E8E8E8;
	font-size: 20px;
	 
 }
div#mover
{
width:62px; height:62px;
background-image:url("dyr.jpg");
background-repeat:no-repeat;
position:relative;
animation:mymove 7s infinite;
-moz-animation:mymove 7s infinite;
-webkit-animation:mymove 7s infinite;
animation-direction:alternate;
-moz-animation-direction:alternate;
-webkit-animation-direction:alternate;
}
@keyframes mymove {from{left:0px;} to{left:1100px;}}
@-moz-keyframes mymove { from{left:0px;} to{left:1100px;} }
@-webkit-keyframes mymove { from{left:0px;} to{left:1100px;}
}
